<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Blog Homepage</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            {{#if loggedIn}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {{/if}}
        </ul>
    </nav>
    <main>
        <section>
            {{#each posts}}
            <article>
                {{!-- <h2><a href="/post/{{post.id}}">{{post.post_title}}</a></h2>
                <p>{{post.post_text}}</p>
                <p>Written by: {{post.user.username}} on {{post.created_at}}</p> --}}
            </article>
            {{else}}
            <p>No posts yet.</p>
            {{/each}}
        </section>
    </main>
    <footer>
        <p>&copy; Kendall Bliss</p>
    </footer>
</body>
</html>